body{
    margin: 0;
    padding: 0;
    /* background-color: #DCDCDC; */
}
.navbar{
    background-color: rgb(93, 181, 149);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    text-shadow: 2px 2px 8px black;
}
.footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: rgb(93, 181, 149);
    padding: 30px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin-top: 7%; 

}

.form, .form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    justify-content: center;
    align-content: center;
}
.form1{
    flex-direction: row;
    font-weight: bold;
}
.signup-fields, .login-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    width: 40%;
    gap: 13px;
    background-color: #ffffff;
    border: 3px solid rgb(93, 181, 149);
    color: rgb(93, 181, 149);
    box-shadow: 2px 2px 8px rgb(93, 181, 149);
    border-radius: 2%;

}


.field {
    padding: 1rem;
    width: 40%;
    background-color: #DCDCDC;
    border-radius: 5px;
    border-style: hidden;
}
.field1{
    padding: 1rem;
   
        background-color: #DCDCDC;
        border-radius: 5px;
        border-style: hidden;
    width: fit-content;
}
input:focus {
    border: 3px solid rgb(93, 181, 149);
    box-shadow: 0 0 3px rgb(93, 181, 149);
    outline-offset: 0px;
    outline: none;
}
select:focus{
    border: 3px solid rgb(93, 181, 149);
        box-shadow: 0 0 3px rgb(93, 181, 149);
        outline-offset: 0px;
        outline: none;
}
.form a {
    display: flex;
    justify-content: center;
    color: rgb(93,181,149);
    font-size: 1rem;
    font-weight: bold;
}

.form a:hover {
    font-size: larger;
}
.all-btn {
    width: fit-content;
    align-content: center;
    text-align: center;
    border-radius: 5px;
    border-style: hidden;
    height: 2em;
    font-size: 14px;
    background-color: rgb(93, 181, 149);
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    line-height: 10px;
}



footer p {
    margin-bottom: 20px;
    line-height: 1.5;
}

#hearder-img{
    display: flex;
    justify-content: space-around;
    width: 100%;

}

#admin-img{
display: flex;
justify-content: center;
}